h1{
    font-size: 28px;
    font-weight: 600;
    color: #E67840;
    text-shadow: 0 0 2px #E67840;
    position: absolute;
    left: 80px;
    top: 18px;
    margin-bottom: 50px;
}

#follow-div {
    display: flex;
    flex-direction: row;
}

.follow-table-div {
    padding: 20px;
}

#follow-button {
    color: white;
    background-color: #E67840;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    width: 50px;
}

#unfollow-button{
    color: white;
    background-color: #E67840;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    width: 65px;
}

#send-button{
    color: white;
    background-color: #E67840;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    width: 65px;
}

.follow-td{
    border-top: 1px solid #E67840;
    border-bottom: 1px solid #E67840;
}

th, td{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.follow-table-caption{
    font-size: 24px;
    font-weight: bold;
}

/* search items */
.search-field-container {
    position: relative;
    top: 50%; 
    left: 50%;
    width: 300px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid hsla(0, 0%, 63%, 0.288);
    padding: 12px;
    border-radius: 100px;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex; 
    justify-content: right; 
    align-items: center; 
    margin-top: 45px;
    margin-left: 25px;
}
  
.search-field {
    padding: 10px;
    width: 80%;
    font-size: 120%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100px;
}
  
.search-field:focus {
    border: none;
    outline: none;
}
  
.button {
    padding: 0px 10px;
    width: 110px;
    font-size: 100%;
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}
  
.search-button {
    display: flex;
    align-items: center;
}
  
.search-button mat-icon {
    margin-right: 2px;
}
  
.search-button p {
    margin-top: 13px;
    margin-right: 3px;
}