<div id="social-profile">
    <div id="tab-div">
        <div id="follow-div">
            <div class="follow-table-div">
                <!-- Follower table -->
                <table class="follow-table">
                    <caption class="follow-table-caption">Followers</caption>
                    <thead>
                        <th>Username</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of socialProfile.followers">
                            <td class="follow-td">{{ f.username }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="follow-table-div">
                <!-- Following table -->
                <table class="follow-table">
                    <caption class="follow-table-caption">Following</caption>
                    <thead>
                        <th>Username</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of socialProfile.following">
                            <td class="follow-td">{{ f.username }}</td>
                            <td class="follow-td">
                                <button id="unfollow-button" (click)="onUnfollowClick(f.userId)">Unfollow</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="follow-table-div">
                <!-- Recommended table -->
                <table class="follow-table">
                    <caption class="follow-table-caption">Recommended</caption>
                    <thead>
                        <th>Username</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of recommended">
                            <td class="follow-td">{{ f.username }}</td>
                            <td class="follow-td">
                                <button id="follow-button" (click)="onFollowClick(f.userId)">Follow</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div>
                <!-- search socialProfiles by username -->
                <form (ngSubmit)="search()">
                    <div class="search-field-container">
                        <input class="search-field" type="text" placeholder="Search social profiles" name="searchProfiles" [(ngModel)]="searchProfiles">
                        <button type="submit" mat-raised-button class="button">
                            <div class="search-button">
                                <mat-icon>search</mat-icon>
                            </div>
                        </button>
                    </div>
                </form>
                
                <!-- display searched -->
                <div *ngIf="searched != undefined">
                    <table class="follow-table">
                        <caption class="follow-table-caption">Recommended</caption>
                        <thead>
                            <th>Username</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of searched">
                                <td class="follow-td">{{ f.username }}</td>
                                <td class="follow-td">
                                    <button id="follow-button" (click)="onFollowClick(f.userId)">Follow</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
